<template>
    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion ion-ios-bell-outline"></i></a>
    
        <div class="dropdown-list-content">
            <a v-for="notification in notifications" class="dropdown-item dropdown-item-unread">{{ JSON.parse(notification.data).user.firstname }} Requested to convert funds!</a>
            <!-- <a href="#" class="dropdown-item dropdown-item-unread">
              <img alt="image" src="{{asset('dist/img/avatar/avatar-1.jpeg')}}" class="rounded-circle dropdown-item-img">
              <div class="dropdown-item-desc">
                <b>Son Rhey Deiparine Withdraw Funds</b>
                <div class="time">10 Hours Ago</div>
              </div>
            </a> -->
        </div>
    </li>
</template>
 
<script>
    export default {
        props: ['notifications']
    }
</script>

