body, .section .section-header, .card .card-header h4, .form-group label, .main-sidebar .sidebar-brand, .main-sidebar .sidebar-user .sidebar-user-details .user-role{
	font-family: 'Barlow Semi Condensed', 'Nanum Gothic', 'Dosis', 'Titillium Web', sans-serif;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
	background-color: #1ab394;
}
.form-control:focus{
	border-color: #1ab394;
	box-shadow: none;
}
.btn-primary, .bg-mhope{
	color: #fff;
	background-color: #1ab394;
	border-color: #1ab394;
}
.alert.alert-success{
	background-color: #1ab394;
}
.btn-primary:hover, .btn-primary:focus{
	background-color: #1ab394!important;
	opacity: 0.5;
}
.btn-add{
	float: right;
}
.f-right{
	float: right;
}
.sidebar-user-picture{
	color: #fff;
    padding: 10px 15px;
    font-size: 21px;
    border-radius: 50%;
    background-color: #1ab394;
}
.main-sidebar .sidebar-menu li ul.menu-dropdown li a:hover{
	color: #1ab394;
}
.sidebar .sidebar-wrapper{
	overflow-x: hidden;
}
.sidebar .sidebar-wrapper{
	background-color: #263948;
}
.sidebar[data-active-color="danger"] .nav li.active > a, .off-canvas-sidebar[data-active-color="danger"] .nav li.active > a{
	color: #1ab394;
}
.sidebar .nav li:not(.active) > a, .sidebar[data-background-color="white"] .nav li:not(.active) > a, .off-canvas-sidebar .nav li:not(.active) > a, .off-canvas-sidebar[data-background-color="white"] .nav li:not(.active) > a{
	color: #a1adbd;
}
.main-sidebar .sidebar-brand a{
	text-transform: initial;
}
.main-panel{
	padding: 0 20px;
}
.earnings{
	text-align: right;
	border-radius: 5px;
	color: #fff;
}
.accumulated{
	background-color: #1c83c6;
}
.registration-fund{
 	background-color: #ed5564;
}
.iadvance-earnings{
  	background-color: #f5ad59;
}
.earnings .list-group-item{
	border: none;
	color: #fff;
	background-color: transparent;
}
.earnings a{
	display: block;
	padding: 20px;
	text-align: right;
	color: 	#fff;
	border: none;
}
.earnings a:hover, .earnings a:focus{
	color: inherit;
	background-color: transparent;
}
.earnings strong{
	display: block;
	color: #fff;
}
.itbl-tabs .nav-item:nth-child(1) .nav-link.active{
	color: #1ab394;
}
.itbl-tabs .nav-item:nth-child(2) .nav-link.active{
	color: #e24a4a;
}
.itbl-tabs .nav-item:nth-child(3) .nav-link.active{
	color: #1c83c6;
}
.itbl-tabs .nav-item:nth-child(4) .nav-link.active{
	color: #ffae42;
}
.itbl-tabs .nav-item:nth-child(5) .nav-link.active{
	color: #574B90;
}
.itbl-tabs .nav-item:nth-child(6) .nav-link.active{
	color: rgb(204, 0, 102);
}
.tbl{
	margin: 80px 0;
}
.tbl-slot{
	margin: 5px 0;
	padding: 3px;
	text-align: center;
	border: none;
}
.tbl-slot a{
	color: #fff;
}
.slot-name{
	display: block;
	color: #000;
}
.tbl-slot-in{
	min-height: 62px;
	padding: 4px;
	color: #fff;
	background-color: #1ab394;
	border-radius: 5px;
}
.table2 .tbl-slot-in{
	background-color: #e24a4a;
}
.table3 .tbl-slot-in{
	background-color: #1c83c6;
}
.table4 .tbl-slot-in{
	background-color: #ffae42;
}
.table5 .tbl-slot-in{
	background-color: #574B90;
}
.table6 .tbl-slot-in{
	background-color: rgb(204, 0, 102);
}
.slot-num{
	display: inherit;
	margin-top: 0;
	font-size: 10px; 
}
.itable .d-block{
	display: block;
	text-align: center;
	width: 100%
}
.itable .ion1{
	color: #1ab394;
}
.itable .ion2{
	color: #dc3545;
}
.itable .ion3{
	color: #574B90;
}
.dash-danger ul{
	margin: 0;
}
.copyright{
	text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    background-color: #fff;
    font-size: 12px;
}
.earning-summary-page .table td, .table:not(.table-bordered) th{
	border-top: 1px solid #ededed;
}
.summary-tbl .ion{
	color: #1ab394;
	font-size: 12px;
}
/*payout*/
.section-header, .ion-navicon-round{
	color: #1ab394;
}
div.dataTables_wrapper div.dataTables_length label{
	text-transform: capitalize;
}
.tbl-datatables table th{
	font-size: 12px;
	color: #1ab394;
}
.page-item.active .page-link{
	background-color: #1ab394;
	border-color: #1ab394;
}
.form-serg label{
	color: #000;
	font-weight: bold;
}
.f-btn-cont{
	float: right;
}
.primary-color{
	color: #1ab394;
}
.note{
	font-size: 13px;
	color: #ffae42;
}
/*page login*/
.page-login{
	text-align: center;
	color: #6b6b6b;
	border: none;
	border-radius: 0;
}
.page-login .logo{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.page-login .primary-color{
	font-weight: bold;
}
.page-login p{
	margin-bottom: 5px;
	font-size: 12px
}
@media(min-width: 768px){
	.tbl-slot{
		margin: 0;
	}
}
@media(min-width: 1028px){
	.copyright{
		padding-left: 280px;
	}
}